<div style="margin-top: 2rem; padding-top: 2rem; border-top: 1px solid black;" />

<div class="container">
  <a href="#top" class="logo">
    english
    <span class="logo-accent">excellence</span>
    .
  </a>

  <h2 style="color: var(--color-black)">
    Meet our
    <span class="title-accent">teachers</span>
  </h2>
  
  <div style="max-width: 20rem; padding: 2rem; margin: 2rem 0; border: 2px dashed #9747ff; border-radius: 0.5rem">
    <button class="btn btn-primary">Button Primary</button>
  </div>
  <div
    style="
      max-width: 20rem;
      background: var(--color-green);
      padding: 2rem;
      margin: 2rem 0;
      border: 2px dashed #9747ff;
      border-radius: 0.5rem;
    ">
    <button class="btn btn-secondary">Button Secondary</button>
  </div>

  <div style="width: fit-content; padding: 2rem; margin: 2rem 0; border: 2px dashed #9747ff; border-radius: 0.5rem">
    <ul class="social-list">
      <li>
        <a class="link" target="_blank" href="https://www.facebook.com/goITclub/">
          <svg class="icon" width="1.75rem" height="1.75rem">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="link" target="_blank" href="https://www.instagram.com/goitclub/">
          <svg class="icon" width="1.75rem" height="1.75rem">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="link" target="_blank" href="https://www.youtube.com/c/GoIT">
          <svg class="icon" width="1.75rem" height="1.75rem">
            <use href="./images/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div
    style="
      width: fit-content;
      background: var(--color-black);
      padding: 2rem;
      margin: 2rem 0;
      border: 2px dashed #9747ff;
      border-radius: 0.5rem;
    ">
    <ul class="social-list">
      <li>
        <a class="link contrast" target="_blank" href="https://www.facebook.com/goITclub/">
          <svg class="icon" width="1.75rem" height="1.75rem">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="link contrast" target="_blank" href="https://www.instagram.com/goitclub/">
          <svg class="icon" width="1.75rem" height="1.75rem">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="link contrast" target="_blank" href="https://www.youtube.com/c/GoIT">
          <svg class="icon" width="1.75rem" height="1.75rem">
            <use href="./images/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>

