<footer class="footer">
    <div class="container">
        <div class="content-container">
            <div class="contact-info">
                <div class="logo-container">
                    <a href="#top" class="logo">
                        english
                        <span class="logo-accent">excellence</span>
                        .
                    </a>
                </div>
                <div class="phone">
                    <p class="contact-info-label">Phone number:</p>
                    <p class="phone-number">+380 (68) 443-94-26</p>
                </div>
                <div class="addres">
                    <p class="contact-info-label">Address:</p>
                    <p class="address-info">32a M. Bazhana ave</p>
                </div>
            </div>
            <div class="navigation">
                <ul class="navigation-list">
                    <li>
                        <a href="#about" class="navigation-link">About us</a>
                    </li>
                    <li>
                        <a href="#" class="navigation-link">Our lessons</a>
                    </li>
                    <li>
                        <a href="#" class="navigation-link">Teachers</a>
                    </li>
                    <li>
                        <a href="#" class="navigation-link">Reviews</a>
                    </li>
                    <li>
                        <a href="#" class="navigation-link">Contact us</a>
                    </li>
                </ul>
            </div>
            <div class="socials">
                <ul class="social-list">
                    <li>
                        <a
                            class="link"
                            target="_blank"
                            href="https://www.facebook.com/goITclub/"
                        >
                            <svg
                                class="icon"
                                width="2.625rem"
                                height="2.625rem"
                            >
                                <use
                                    href="./images/icons.svg#icon-facebook"
                                ></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a
                            class="link"
                            target="_blank"
                            href="https://www.instagram.com/goitclub/"
                        >
                            <svg
                                class="icon"
                                width="2.625rem"
                                height="2.625rem"
                            >
                                <use
                                    href="./images/icons.svg#icon-instagram"
                                ></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a
                            class="link"
                            target="_blank"
                            href="https://www.youtube.com/c/GoIT"
                        >
                            <svg
                                class="icon"
                                width="2.625rem"
                                height="2.625rem"
                            >
                                <use
                                    href="./images/icons.svg#icon-youtube"
                                ></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="footer-line" />
        <div class="privacy-container">
            <div class="rights">
                <p>©2023 English Excellence. All rights reserved.</p>
            </div>
            <div class="terms-and-policy">
                <p class="policy">Privacy Policy</p>
                <p class="terms">Terms of Service</p>
            </div>
        </div>
    </div>
</footer>
