<footer class="footer" id="footer">
    <div class="container">
        <div class="content-container">
            <div class="contact-info">
                <div class="logo-container">
                    <a href="#top" class="logo">
                        english
                        <span class="logo-accent">excellence</span>
                        .
                    </a>
                </div>
                <div class="phone">
                    <p class="contact-info-label">Phone number:</p>
                    <p class="phone-number">+380 (68) 443-94-26</p>
                </div>
                <div class="address">
                    <p class="contact-info-label">Address:</p>
                    <a class="address-info" href="https://www.google.com/maps?sca_esv=754168574209eb79&output=search&q=32a+M.+Bazhana+ave&source=lnms&fbs=AEQNm0AnYLk5XLnZDC_bq-_hs1898jFyMx7DxtkpKWCR_PGcSA5SuaWOPB3r3GqTm3VSlaz1Ve2Hp1FgU_9P2cdMzkWJb3VFaYivl2hunq2PuWjMTLkRPQTYOhNdyoTxqKXbM1X9iYGP2lOs-c3ShpqpOsdPhf0J8bmncQmjxEtmcvACcCHrjgiv2JDiVk6bd7ThoFFPfYMZ1srkmxwvBqhh9SReHWtCSg88sOgAJmY2GPyqIBc962E8Uke8R-jU3BsfVYZMswrK&entry=mc&ved=1t:200715&ictx=111" target="_blank">32a M. Bazhana ave</a>
                </div>
            </div>
            <div class="navigation">
                <ul class="navigation-list">
                    <li>
                        <a href="#about" class="navigation-link">About us</a>
                    </li>
                    <li>
                        <a href="#our-lessons" class="navigation-link">Our lessons</a>
                    </li>
                    <li>
                        <a href="#teachers" class="navigation-link">Teachers</a>
                    </li>
                    <li>
                        <a href="#students" class="navigation-link">Reviews</a>
                    </li>
                    <li>
                        <a href="#leave-an-app" class="navigation-link">Contact us</a>
                    </li>
                </ul>
            </div>
            <div class="socials">
                <ul class="social-list">
                    <li>
                        <a
                            class="link"
                            target="_blank"
                            href="https://www.facebook.com/goITclub/"
                            aria-label="soc icon"
                        >
                            <svg
                                class="icon"
                                width="2.625rem"
                                height="2.625rem"
                            >
                                <use
                                    href="./images/icons.svg#icon-facebook"
                                ></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a
                            class="link"
                            target="_blank"
                            href="https://www.instagram.com/goitclub/"
                            aria-label="soc icon"
                        >
                            <svg
                                class="icon"
                                width="2.625rem"
                                height="2.625rem"
                            >
                                <use
                                    href="./images/icons.svg#icon-instagram"
                                ></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a
                            class="link"
                            target="_blank"
                            href="https://www.youtube.com/c/GoIT"
                            aria-label="soc icon"
                        >
                            <svg
                                class="icon"
                                width="2.625rem"
                                height="2.625rem"
                            >
                                <use
                                    href="./images/icons.svg#icon-youtube"
                                ></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="footer-line" />
        <div class="privacy-container">
            <div class="rights">
                <p>©2023 English Excellence. All rights reserved.</p>
            </div>
            <div class="terms-and-policy">
                <p class="policy">Privacy Policy</p>
                <p class="terms">Terms of Service</p>
            </div>
        </div>
    </div>
</footer>
