<section class="leave" id="leave-an-app">
    <div class="container">
      <div class="top">
        <h2 class="header">
          Leave an <span class="title-accent">application</span>
        </h2>
        <p class="description">Please use the form below to contact us. Enter your name, email, and message and we'll get back to you shortly.</p>
      </div>
      
      <div class="card-container">
        <img src="public/images/leave_application.jpg" alt="The small girl is looking for something interesting in english grammar" class="card-image">
        <div class="card-appl">
            <h2 class="card-title">1000</h2>
            <p class="card-description">of our online English language lessons! This journey has been full of discovery, growth and unforgettable moments, and we are happy to share this joyful event with you.</p>
        </div>
    </div>
      <div class="appl-form">
        <form class="application-form" action="#" method="post">
          <div class="form-group">
            <label for="name" class="sr-only">Name</label>
            <input type="text" id="name" name="name" class="form-input" required placeholder="Name" pattern="[A-Za-zs]+" title="Only letters and spaces are allowed">
          </div>
          <div class="form-group">
            <label for="email" class="sr-only">Email</label>
            <input type="email" id="email" name="email" class="form-input" required placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,}$" title="Invalid email format">
          </div>
          <div class="form-group">
            <label for="phone" class="sr-only">Phone</label>
            <input type="tel" id="phone" name="phone" class="form-input" required placeholder="Phone" pattern="+?d{10,15}" title="Enter phone number in the format +XXXXXXXXXX (10-15 digits)">
          </div>
          <div class="form-group">
            <label for="comment" class="sr-only">Comment</label>
            <textarea id="comment" name="comment" class="form-input comment" required placeholder="Comment" minlength="10" title="Comment must be at least 10 characters long"></textarea>
          </div>
        </div>
  
          <fieldset class="teacher-selection">
            <legend class="teacher-selection-title">Choose a teacher</legend>
            <div class="radio-group">
                <label>
                    <input type="radio" name="teacher" value="maria" required class="radio-input"> Maria
                </label>
                <label>
                    <input type="radio" name="teacher" value="artem" class="radio-input"> Artem
                </label>
                <label>
                    <input type="radio" name="teacher" value="ilona" class="radio-input"> Ilona
                </label>
                <label>
                    <input type="radio" name="teacher" value="volodymyr" class="radio-input"> Volodymyr
                </label>
            </div>
        </fieldset>

          
  
          <button type="submit" class="btn btn-primary">Send</button>
  
          <p class="privacy-policy">By clicking on the “Send” button, you agree to our <a href="#" class="privacy-link">Privacy Policy</a>, and allow Promodo to use this information for marketing purposes.</p>
        </form>
      </div>
    
  </section>