<section class="students">
  <div class="container">
    <div class="students-header">
      <h1 class="students-header-title">
        What our <span class="title-accent">students</span> say
      </h1>
      <p class="students-header-subtitle">
        Hear from our students about their learning journey with us, as they
        share their experiences, progress, and the transformative impact
      </p>
    </div>
    <div class="students-cards-box">
      <ul class="students-list">
        <li class="students-item">
          <div class="students-card">
            <div class="students-card-profile">
              <img
                class="students-card-img"
                srcset="
                  /public/images/students/anna.jpg    1x,
                  /public/images/students/anna@2x.jpg 2x
                "
                src="/public/images/students/anna.jpg"
                alt="Anna"
                width="50"
                height="50"
              />
              <div>
                <h2 class="students-name">Anna</h2>
                <p class="students-role">Student</p>
              </div>
            </div>
            <p class="students-card-text">
              My experience at the language school has been nothing short of
              amazing. The teachers are dedicated and the learning environment
              is stimulating. I feel more confident in my English skills.
            </p>
          </div>
        </li>
        <li class="students-item">
          <div class="students-card">
            <div class="students-card-profile">
              <img
                class="students-card-img"
                srcset="
                  /public/images/students/mykhailo.jpg    1x,
                  /public/images/students/mykhailo@2x.jpg 2x
                "
                src="/public/images/students/mykhailo.jpg"
                alt="Mykhailo"
                width="50"
                height="50"
              />
              <div>
                <h2 class="students-name">Mykhailo</h2>
                <p class="students-role">Student</p>
              </div>
            </div>
            <p class="students-card-text">
              The school offers a great balance of language theory and practical
              exercises. The personalized feedback from the teachers has helped
              me improve my weak areas.
            </p>
          </div>
        </li>
        <li class="students-item">
          <div class="students-card">
            <div class="students-card-profile">
              <img
                class="students-card-img"
                srcset="
                  /public/images/students/victoria.jpg    1x,
                  /public/images/students/victoria@2x.jpg 2x
                "
                src="/public/images/students/victoria.jpg"
                alt="Victoria"
                width="50"
                height="50"
              />
              <div>
                <h2 class="students-name">Victoria</h2>
                <p class="students-role">Student</p>
              </div>
            </div>
            <p class="students-card-text">
              I love the dynamic and interactive teaching methods used here.
              It's a great place to learn English in a fun and effective way. I
              have definitely seen a big improvement in my language skills.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
