.sr-only {
    position: absolute;
    width: 0.0625rem; /* 1px */
    height: 0.0625rem; /* 1px */
    margin: -0.0625rem; /* -1px */
    padding: 0;
    overflow: hidden;
    border: 0;
}

.leave .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.25rem; /* 20px */
}

.leave .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; /* 16px */
    margin-bottom: 1.25rem; /* 20px */
}

@media (min-width: 768px) {
    .leave .top {
        margin-bottom: 4rem; /* 64px */
    }
}

.leave .title {
    color: var(--color-black);
}

.leave .description {
    font-size: 0.875rem; /* 14px */
    font-weight: 400;
    line-height: 1.7;
    text-align: center;
    max-width: 41.5625rem; /* 665px */
    color: rgba(18, 20, 23, 0.8);
    opacity: 0.5;
}

@media (min-width: 768px) {
    .leave .description {
        font-size: 1.125rem; /* 18px */
        line-height: 1.7;
    }
}

@media (min-width: 1280px) {
    .main-container {
        display: flex;
        gap: 2rem; /* 32px */
    }
}

.leave .privacy-policy {
    margin-top: 1.25rem; /* 20px */
    font-size: 0.75rem; /* 12px */
    font-weight: 400;
    line-height: 1.3;
    text-align: left;
    color: rgba(18, 20, 23, 0.5);
}

@media (min-width: 768px) {
    .leave .privacy-policy {
        font-weight: 400;
        line-height: 1.7;
        text-align: left;
        font-size: 0.875rem; /* 14px */
        max-width: 31.25rem; /* 500px */
    }
}

.leave .privacy-link {
    text-decoration: underline;
    color: currentColor;
}

.leave .application-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.125rem; /* 18px */
}

.leave .appl-form {
    width: 100%;
    max-width: 31.25rem; /* 500px */
}

.leave .form-group {
    width: 100%;
}

.leave .form-group textarea {
    resize: none;
}

.leave .form-input {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 1.125rem; /* 16px, 18px */
    border: 0.0625rem solid rgba(18, 20, 23, 0.1); /* 1px */
    border-radius: 0.75rem; /* 12px */
    font-size: 1rem; /* 16px */
    line-height: 1.3;
}

.form-input:focus {
    border-color: var(--color-green); 
    outline: none; 
}

.leave .comment {
    min-height: 5.875rem; /* 94px */
}

.leave .teacher-selection {
    width: 100%;
    max-width: 31.25rem; /* 500px */
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
    padding-left: 0;
    margin-top: 1.25rem; /* 20px */
    margin-bottom: 2rem; /* 32px */
}

.leave .teacher-selection-title {
    margin: 0;
    padding: 0;
    font-size: 1.125rem; /* 18px */
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: rgba(18, 20, 23, 1);
    margin-bottom: 0.875rem; /* 14px */
}

.leave .radio-group {
    display: flex;
    flex-direction: column;
    gap: 0.625rem; /* 10px */
}

@media (min-width: 768px) {
    .leave .radio-group {
        flex-direction: row;
    }
}

.leave .radio-group label {
    display: flex;
    gap: 0.5rem; /* 8px */
    color: var(--color-black);
}

.leave input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--color-white);
    margin: 0;
    font: inherit;
    color: rgba(18, 20, 23, 0.5);
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid rgba(18, 20, 23, 0.5);
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }
  
  .leave input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: var(--color-green);
  }

  .leave input[type="radio"]:checked {
    border: 0.15em solid var(--color-green);
  }

  .leave input[type="radio"]:checked::before {
    transform: scale(1);
  }
  
  .leave input[type="radio"]:focus {
    outline-offset: max(2px, 0.15em);
  }

.leave .bottom-wrap {
    width: 100%;
    max-width: 31.25rem; /* 500px */
}

.leave .card-image {
    width: 100%;
    border-radius: 1.875rem; /* ~30px */
}

.leave .card {
    top: 18.0625rem; /* ~289px */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-green);
    border-radius: 0 0 1.875rem; /* ~30px */
    padding: 1.25rem 1.25rem 2.5rem; /* ~20px, ~20px, ~40px */
    gap: 0.5rem; /* ~8px */

}

.leave .card-title {
    color: var(--color-white);
    font-size: 2.5rem; /* 40px */
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: center;
}

.leave .card-description {
    color: var(--color-white);
    font-size: 1rem; /* 16px */
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}

.leave .card-form-container {
    display: flex;
    align-items: flex-start;
}

.leave .card-container {
    position: relative;
    width: 30.75rem; /* 492px */
    gap: 0px;
    border-radius: 1.875rem; /* 30px */
    min-height: 36.125rem; /* 578px */
    display: none;
    overflow: hidden;
}

.leave .image-wrap {
    width: 100%;
    overflow: hidden;
    background-color: var(--color-green);
}

.leave .card-appl {
    background-color: var(--color-green);
    padding: 1rem 1.25rem 1.25rem 1.25rem; /* 16px 20px */
    gap: 0.5rem; /* 8px */
    border-bottom-left-radius: 1.875rem; /* 30px */
    border-bottom-right-radius: 1.875rem; /* 30px */
    overflow: hidden;
}

.leave .card-title {
    color: var(--color-white);
    font-size: 2.5rem; /* 40px */
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: center;
}

.leave .card-description {
    color: var(--color-white);
    font-size: 1rem; /* 16px */
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    opacity: 0.7;
}

@media (min-width: 1280px) {
    .leave .card-container {
        display: block;
    }
}