.teachers-section {
    padding: 1.25rem 0.9375rem; /* 20px 15px */
    max-width: 23.4375rem; /* 375px */
    margin: 0 auto;
    text-align: center;
}

.section-title {
    font-size: 2.25rem; /* 36px */
    margin-bottom: 0.5rem;
    font-weight: 700;
    color: var(--color-black);
}

.section-description {
    font-size: 1rem;
    line-height: 1.625; /* 26px */
    margin: 0 auto 1.5rem;
    max-width: 21rem;
    font-weight: 400;
}

.teacher {
    margin-bottom: 2rem;
}

.teacher-image {
    width: 7.5rem; /* 120px */
    height: 7.5rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

.teacher-name {
    font-size: 1.125rem; /* 18px */
    font-weight: 700;
    margin-bottom: 0.25rem;
    color: var(--color-black);
}

.teacher-description {
    font-size: 0.875rem; /* 14px */
    line-height: 1.5;
    margin: 0 auto;
    max-width: 21rem;
}