.teachers-section {
    padding: 1.25rem 0.9375rem; /* 20px 15px */
    max-width: 23.4375rem; /* 375px */
    margin: 0 auto;
    text-align: center;
}

.section-title {
    font-size: 2.25rem; /* 36px */
    margin-bottom: 0.5rem;
    font-weight: 700;
    color: var(--color-black);
}

.section-description {
    font-size: 1rem;
    line-height: 1.625; /* 26px */
    margin: 0 auto 1.5rem;
    max-width: 21rem;
    font-weight: 400;
}

.teacher {
    margin-bottom: 2rem;
}

.teacher-image {
    width: 7.5rem; /* 120px */
    height: 7.5rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

.teacher-name {
    font-size: 1.125rem; /* 18px */
    font-weight: 700;
    margin-bottom: 0.25rem;
    color: var(--color-black);
}

.teacher-description {
    font-size: 0.875rem; /* 14px */
    line-height: 1.5;
    margin: 0 auto;
    max-width: 21rem;
}

@media (min-width: 48rem) { /* 768px */

    .teachers-section {
        padding: 2rem 1.5rem; /* 32px 24px */
        max-width: 64rem; /* 1024px */
    }

    .teachers-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin: 0 auto;
    }

    .teacher {
        margin-bottom: 0;
        text-align: center;
    }

    .teacher-image {
        width: 9.375rem; /* 150px */
        height: 9.375rem;
        margin-bottom: 0.75rem; /* 12px */
    }

    .section-description {
        margin-bottom: 2.5rem;
        max-width: 44.3125rem; /* 709px */
        font-size: 1.125rem; /* 18px */
    }

    .teacher-name {
        font-size: 1.25rem; /* 20px */
    }

    .teacher-description {
        font-size: 1rem;
        max-width: 18.75rem; /* 300px */
        margin: 0 auto;
    }
}

@media (min-width: 80rem) { /* 1280px */

    .teachers-section {
        padding: 3rem 2rem;
        max-width: 80rem;
        margin: 0 auto;
    }

    .section-title {
        font-size: 2.5rem; /* 40px */
        margin-bottom: 1rem;
    }

    .section-description {
        font-size: 1.125rem; /* 18px */
        max-width: 50rem; /* 800px */
        margin-bottom: 3rem;
    }

    .teachers-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;
    }

    .teacher {
        margin-bottom: 0;
        text-align: center;
    }

    .teacher-image {
        width: 10rem; /* 160px */
        height: 10rem;
        margin-bottom: 1rem;
    }

    .teacher-name {
        font-size: 1.5rem; /* 24px */
        margin-bottom: 0.5rem;
    }

    .teacher-description {
        font-size: 1rem;
        max-width: 18rem; /* 288px */
        margin: 0 auto;
    }
}